.htaccess
wp-config.php
wp-content/uploads/
wp-content/blogs.dir/
wp-content/upgrade/
wp-content/backup-db/
wp-content/advanced-cache.php
wp-content/wp-cache-config.php
sitemap.xml
*.log
wp-content/cache/
wp-content/backups/
sitemap.xml.gz

# ignore debug.log
wp-content/debug.log
# ignore local-config.php
local-config.php

# ignore wordpress themes
wp-content/wp-content/themes/classic/
wp-content/wp-content/themes/twentyfourteen/
wp-content/wp-content/themes/twentythirteen/
wp-content/wp-content/themes/twentytwelve/

# ignore other themes
wp-content/wp-content/themes/default/

# Custom individual ignores
wp-content/plugins/wp-google-maps/1markers.xml
tmp/
blogs/
.DS_Store
test/
*timthumb.txt